body {
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow-x:hidden;
  overflow-y:hidden;
  width:100%;
  height:100%;
}

html * {
  outline: none !important;
}

/*Remove ribbon id too small*/
@media screen and (max-width: 600px){
	#icons {
		display:none;
	}
}


